@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>White Board</h1>
    <p class="lead">White board is great way of communication, you can write text and draw examples to your friends</p>
    <p><a href="/Admin/BoardList" class="btn btn-primary btn-large">Try it now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create your own board to share drawings and text with your friends
        </p>
        <p><a class="btn btn-default" href="/Admin/Index">Create Board &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add some friends</h2>
        <p>More people equals more fun and information, add some friends too!</p>
        <p><a class="btn btn-default" href="/Admin/Index">Add Friend &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More to come</h2>
        <p>Please insert some great marketing text</p>
        <p><a class="btn btn-default" href="/">Not Working &raquo;</a></p>
    </div>
</div>