<script src="~/Scripts/raphael-min.js" type="text/javascript"></script>
<script src="~/Scripts/svgBoard.js" type="text/javascript"></script>
@ViewBag.Message
<div id="canvas"></div>
<div>
    <input type="button" id="rect" value="Rectangle" />
    <input type="button" id="elli" value="Ellipse" />
</div>

